/*
* Generated: 2014-02-18 10:31:06

*/

@font-face {
	font-family: "TyponineSans Light 17";
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000196-1392719545.eot");
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000196-1392719545.eot?#iefix") format("embedded-opentype"), url("https://id.arduino.cc/fonts/WF-003562-000476-000196-1392719545.woff") format("woff"), url("https://id.arduino.cc/fonts/WF-003562-000476-000196-1392719545.svg") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
@font-face {
	font-family: "TyponineSans Regular 18";
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000198-1392719549.eot");
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000198-1392719549.eot?#iefix") format("embedded-opentype"), url("https://id.arduino.cc/fonts/WF-003562-000476-000198-1392719549.woff") format("woff"), url("https://id.arduino.cc/fonts/WF-003562-000476-000198-1392719549.svg") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
@font-face {
	font-family: "TyponineSans Text 16";
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000200-1392719554.eot");
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000200-1392719554.eot?#iefix") format("embedded-opentype"), url("https://id.arduino.cc/fonts/WF-003562-000476-000200-1392719554.woff") format("woff"), url("https://id.arduino.cc/fonts/WF-003562-000476-000200-1392719554.svg") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
@font-face {
	font-family: "TyponineSans Medium 12";
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000202-1392719558.eot");
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000202-1392719558.eot?#iefix") format("embedded-opentype"), url("https://id.arduino.cc/fonts/WF-003562-000476-000202-1392719558.woff") format("woff"), url("https://id.arduino.cc/fonts/WF-003562-000476-000202-1392719558.svg") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
@font-face {
	font-family: "TyponineSans Bold 13";
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000204-1392719564.eot");
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000204-1392719564.eot?#iefix") format("embedded-opentype"), url("https://id.arduino.cc/fonts/WF-003562-000476-000204-1392719564.woff") format("woff"), url("https://id.arduino.cc/fonts/WF-003562-000476-000204-1392719564.svg") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
@font-face {
	font-family: "TyponineSans Monospace Light 5";
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000218-1392719568.eot");
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000218-1392719568.eot?#iefix") format("embedded-opentype"), url("https://id.arduino.cc/fonts/WF-003562-000476-000218-1392719568.woff") format("woff"), url("https://id.arduino.cc/fonts/WF-003562-000476-000218-1392719568.svg") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
@font-face {
	font-family: "TyponineSans Monospace Regular 4";
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000220-1392719571.eot");
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000220-1392719571.eot?#iefix") format("embedded-opentype"), url("https://id.arduino.cc/fonts/WF-003562-000476-000220-1392719571.woff") format("woff"), url("https://id.arduino.cc/fonts/WF-003562-000476-000220-1392719571.svg") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
@font-face {
	font-family: "TyponineSans Monospace Text 7";
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000222-1392719574.eot");
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000222-1392719574.eot?#iefix") format("embedded-opentype"), url("https://id.arduino.cc/fonts/WF-003562-000476-000222-1392719574.woff") format("woff"), url("https://id.arduino.cc/fonts/WF-003562-000476-000222-1392719574.svg") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
@font-face {
	font-family: "TyponineSans Monospace Medium 3";
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000224-1392719577.eot");
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000224-1392719577.eot?#iefix") format("embedded-opentype"), url("https://id.arduino.cc/fonts/WF-003562-000476-000224-1392719577.woff") format("woff"), url("https://id.arduino.cc/fonts/WF-003562-000476-000224-1392719577.svg") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
@font-face {
	font-family: "TyponineSans Monospace Bold 3";
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000226-1392719579.eot");
	src: url("https://id.arduino.cc/fonts/WF-003562-000476-000226-1392719579.eot?#iefix") format("embedded-opentype"), url("https://id.arduino.cc/fonts/WF-003562-000476-000226-1392719579.woff") format("woff"), url("https://id.arduino.cc/fonts/WF-003562-000476-000226-1392719579.svg") format("svg");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	}
